<h1>Hello world</h1>

    <script>

        //loop through the mmsids 
        // Need to hide the APIKEY in .env
        $.ajax({

            url: ``,
            type: 'GET',
            contentType: 'application/json',
        }).then(function (response) {
            console.log(response)

        })
        

    </script>